:root {
  --dark-green: #112B1D;
  --soft-green: #9CC97F;
  --gray-green: #537E72;
  --light-bg: #CDDECB;
  --soft-blue: #90B7BF;
  --pale-blue: #CAE2E7;
  --text-color: #112B1D;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--pale-blue);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/*Navbar*/
.navbar {
  background-color: var(--gray-green);
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0rem 3rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px; 
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.logo-img a{
  cursor: pointer;
}

.logo-img {
  width: 45px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: var(--soft-green);
}

.lang-toggle {
  color: white;
  font-size: 0.9rem;
}

.lang-toggle a {
  color: var(--pale-blue);
  text-decoration: none;
}

.lang-toggle a.active {
  color: var(--soft-green);
}

/*Isi*/
.head-kalender {
  background: linear-gradient(to bottom, rgba(17,43,29,0.5), rgba(17,43,29,0.8));
  color: white;
  text-align: center;
  padding: 1rem;
}

.kalender{
  margin-top: 10px;
}

.kalender a {
  color: var(--light-bg);
  text-decoration: none;
  margin: 0 6px;
  padding: 4px 8px;
  border-radius: 6px;
}

.kalender a.active, .kalender a:hover {
  background-color: var(--soft-green);
  color: var(--dark-green);
}

main {
  text-align: center;
  padding: 2rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  max-width: 700px;
  margin: 2rem auto;
}

.day, .day-name {
  background-color: var(--soft-green);
  border-radius: 10px;
  padding: 10px;
}

.day-name {
  font-weight: bold;
  background-color: var(--soft-blue);
}

.festival {
  background-color: var(--dark-green);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* Popup */
.popup {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: var(--light-bg);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  max-width: 400px;
  position: relative;
}

.popup-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 22px;
}

/*Yaess, ini footer lagi*/
footer {
  background-color: var(--gray-green);
  color: white;
  text-align: center;
  padding: 0.2rem;
  font-size: 0.9rem;
}